body {
    background-color: aqua;
    border: 0;
}
.box1 {
    background-color: green;
}

.box1-1 {
    height: 100px;
    width: 300px;
    background-color: red;
}
.box1-2 {
    height: 100px;
    width: 300px;
    background-color: blue;
}